{% extends "base.html" %} {% block title %}Appointment{% endblock %} {% block content %}
<!--------------------- End of sidebar and start of appointment form ---------->
<br>
<br>
<br>
<div class="container mt-5">
    <div class="row">
            <div class="col-18">
                <center> <h3 class="fw-normal text-primary fs-4 text-uppercase mb-4">Appointment form</h3> </center>
            </div>
            <div class="appointment-form">
            <form method="POST" action="/appointment">
                <div class="row g-3">
                    <div class="col-md-6">
                        <input type="text"  class="form-control" name="first_name" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="text"  class="form-control" name="second_name" placeholder="Last Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="tel"   class="form-control"  name="number" placeholder="Phone Number" required>
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="booked_by_email" placeholder="Enter Email" required>
                    </div>
                    <div class="col-md-6">
                        <input type="date"  class="form-control" name="date" min="2022-04-04" max="2022-04-10" placeholder="Enter Date" required>
                    </div>

                    <div class="col-md-6" >
                        <select name="slot_time" class="form-select">
                            <option selected>Select Time</option>
                            <option value="9am">9:00</option>
                            <option value="10am">10:00 </option>
                            <option value="11am">11:00 </option>
                            <option value="12pm">12:00 </option>
                            <option value="13pm">13:00</option>
                            <option value="14pm">14:00 </option>
                            <option value="15pm">15:00</option>
                            <option value="16pm">16:00</option>
                            <option value="17pm">17:00</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <select name="doctor_name" class="form-select">
                            <option selected> Select Preferred Doctor</option>
                            {% for one_doctor in all_doctors %}
                            <option value="{{one_doctor.doctor_name}} ">{{ one_doctor.doctor_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-15">
                        <textarea class="form-control" name="Description" placeholder="Appointment Description"></textarea>
                    </div>
                    <div class="col-12 mt-5">
                        <button type="submit" class="btn btn-info float-end">Book Appointment</button>
                        <button type="button" class="btn btn-info float-end me-2">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


{% endblock %}
