{% extends "base.html" %} {% block title %}User Dashboard{% endblock %} {% block content %}
<!--------------------- End of sidebar and start of appointment form ---------->
<br>
<br>
<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
            <div class="col-18">
                <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Appointment form</h3>
            </div>
            <div class="appointment-form">
            <form method="POST" action="/appointment">
                <div class="row g-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="your_name" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="your_lastname" placeholder="Last Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="tel" class="form-control"  name="your_number" placeholder="Phone Number" required>
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="your_email" placeholder="Enter Email" required>
                    </div>
                    <div class="col-md-6">
                        <input type="date" class="form-control" name="your_date" placeholder="Enter Date" required>
                    </div>

                    <div class="col-md-6" >
                        <select name="slot" class="form-select">
                            <option selected>Select Time  </option>
                            <option value="9am">9:00</option>
                            <option value="10am">10:00 </option>
                            <option value="11am">11:00 </option>
                            <option value="12pm">12:00 </option>
                            <option value="13pm">13:00</option>
                            <option value="14pm">14:00 </option>
                            <option value="15pm">15:00</option>
                            <option value="16pm">16:00</option>
                            <option value="17pm">17:00</option>
                            <option value="GPclosed">Closed</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <select class="form-select">
                            <option selected> Select Preffered Doctor</option>
                            <option value="1"> Dr John Smith </option>
                            <option value="2">TBC</option>
                            <option value="3">Random</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <textarea class="form-control" placeholder="Appointment Description"></textarea>
                    </div>
                    <div class="col-12 mt-5">
                        <button type="submit" class="btn btn-info float-end">Book Appointment</button>
                        <button type="button" class="btn btn-info float-end me-2">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>



{% endblock %}
