{% extends "base.html" %} {% block title %}Confirmation{% endblock %} {% block content %}
<br>
<br>
<br>
<br>
<h1>Confirmation</h1>
<center>   <strong>First name:</strong> {{ current_user.first_name}} <br> </center>
<center>   <strong>Second name:</strong> {{ current_user.second_name}}<br>  </center>
<center>   <strong>number:</strong> {{ current_user.number}}<br>  </center>
<center>   <strong>date</strong> {{ current_user.date}} <br>  </center>
<center>   <strong>slot:</strong> {{ current_user.slot}} <br>  </center>

{% endblock %}
