{% extends "base.html" %} {% block title %}Confirmation{% endblock %} {% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You for booking!</h1>
  <p class="lead"><strong>Please check your email</strong> for confirmation about your appointment!</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-info btn-sm" href="home" role="button"> Back to homepage</a>
  </p>
</div>
{% endblock %}


