{% extends "base.html" %} {% block title %}Confirmation{% endblock %} {% block content %}
<br>
<br>
<br>
<br>
<br>
<h1>Congratulations! Your confirmation details are below:</h1>
<section>
    <div class="boxed">
        <center>   <strong>First Name:</strong> {{ current_user.first_name}} <br>                </center>
        <center>   <strong>Slot time:</strong> {{ current_user.slot_time}}<br>               </center>
        <center>   <strong>Date:</strong> {{ current_user.date}}<br>               </center>
        <center>   <strong>Description:</strong> {{ current_user.Description}}<br>           </center>
    </div>
</section>
{% endblock %}


