{% extends "base.html" %} {% block title %}User Dashboard{% endblock %} {% block content %}
<head>
    <script src="https://kit.fontawesome.com/c9e61bb2b4.js" crossorigin="anonymous"></script>
</head>

<br>
<br>
<br>
<div class="wrapper">
    <br>
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Doctor Dashboard</h3>
        </div>
        <ul class="list-unstyled components">
            <p> {{ current_user.doctor_name}}</p>
            <li class="active">
                <a href="drdashboard">Dashboard</a>
            </li>
            <li>
                <a href="schedule">Schedule</a>
            </li>
            <li>
                <a href="#">Prescription</a>
            </li>
            <li>
                <a href="drprofile">My Profile</a>
            </li>
        </ul>
    </nav>


</div>

<!--------------------- End of sidebar and start of dashboard interface for user ---------->
<br>
<br>
<br>
<br>
<style> h1 {text-align: center;} </style>
<h1>My Dashboard</h1>
<div class="content">
    <div class="cards">
        <div class="card">
            <div class="box">
                <h1> Profile</h1>
            </div>
            <div class="icon-case">
                <a href="drprofile">
                <img src="static/user.png" width="150" alt=""/>
                    </a>
            </div>
        </div>

        <div class="card" >
            <div class="box">
                <h1> Schedule </h1>
            </div>
            <div class="icon-case">
                <a href="schedule">
                <img src="static/schedule.png" width="150" alt=""/>
                </a>
            </div>
        </div>

         <div class="card" >
            <div class="box">
                <h1> Prescriptions </h1>
            </div>
            <div class="icon-case">
                <a href="#">
                <img src="static/prescription.png" width="150" alt=""/>
                </a>
            </div>

    </div>
    <div class="content-2"> </div>
</div>

</div>
{% endblock %}
