{% extends "base.html" %} {% block title %}Doctor Login{% endblock %} {% block content %}
<div class="mt-5 pt-5">
<form method="POST" action="/drlogin">
    <h3 align="center">Doctor Login</h3>
    <div class="form-group">
        <label for="dr_email" > Email Address</label>
        <input required
                type="text"
                id="dr_email"
                name="dr_email"
                class="form-control"
                placeholder="Enter Email"/>

        <label for="dr_password"> Password </label>
        <input required
                type="dr_password"
                id="dr_password"
                name="dr_password"
                class="form-control"
                placeholder="Enter Password" />
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-dark">Login</button>


        </div>
    </div>
</form>
</div>
{% endblock %}
