{% extends "base.html"  %}
{% block title %}User Dashboard{% endblock %} {% block content %}
<br>
<br>
<br>
<div class="wrapper">
    <br>
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Doctor Dashboard</h3>
        </div>
        <ul class="list-unstyled components">
            <p> {{ current_user.doctor_name}}</p>
            <li class="active">
                <a href="drdashboard">Dashboard</a>
            </li>
            <li>
                <a href="schedule">Schedule</a>
            </li>
            <li>
                <a href="prescription">Prescription</a>
            </li>
            <li>
                <a href="drprofile">My Profile</a>
            </li>
        </ul>
    </nav>


</div>


{% endblock %}